.transaction_history {
    margin: 15px;
    border-collapse: collapse;
  }
  .table_header {
    background-color: orchid;
  }
  .table_data,
  .table_header {
    padding: 5px;
    border: 1px solid orange;
  }
  .table_row:nth-last-child(2n+1) {
background-color: aqua;
color: azure;
  }
  .table_data {
      text-align: center;
  }